@model Categoria

<h1> Nueva Categoria</h1>

<form action="" method="post">
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" type="text" class="form-control">
    </div>
    <button class="btn btn-primary">Registrar</button>
</form>